footer a:hover {
    color: #f8c146 !important;
    transition: 0.3s;
}

body {
    background-color: #f4f6f9;
}

.login-box {
    max-width: 400px;
    margin: 80px auto;
    padding: 40px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
    text-align: center;
    margin-bottom: 30px;
}

.tranding-img{
    height: 100px;
}

.tranding-item{
    float: left;
    width: 20%;
}
